{% extends 'base.html' %}
{% block oben %}
  <style>
    .mydetail{
      margin-top: 40px;
    }
  </style>
{% endblock %}
{% block content %}
<div class="container mydetail">
  <h1>{{ film.titel }}</h1>
  <p>Bewertung: {{ film.bew }}</p>
  <p>Genre: {{ film.genre }}</p>
  <p>Qualitaet: {{ film.qual }}</p>
  <p>Ort: {{ film.ort }}</p>
  {% if user.is_authenticated %}
    <a class="btn btn-secondary" href="{% url 'verwaltung:film_edit' pk=film.pk %}">Bearbeiten</a>
    <a class="btn btn-danger" href="{% url 'verwaltung:film_remove' pk=film.pk %}">Löschen</a>
  {% endif %}
</div>
{% endblock %}
